[Oo]bj
[Bb]in
debug
_Resharper.*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
*~
*.swp
*.dbproj.user
*.dbmdl
error-*.xml

*.dotCover
*mm_cache.bin