<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Sat, 31 Dec 2050 00:00:00 GMT" />
    </staticContent>
    <handlers>
      <remove name="BlockViewHandler"/>
    </handlers>
  </system.webServer>
</configuration>
