<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="Castle.Windsor" version="3.0.0.4001" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.WindsorAdapter" version="1.0" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="log4net" version="1.2.10" allowedVersions="[1.2.10]" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="MvcContrib.Mvc3.FluentHtml-ci" version="3.0.96.0" />
  <package id="MvcContrib.Mvc3-ci" version="3.0.96.0" />
  <package id="Newtonsoft.Json" version="4.5.7" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
  <package id="RavenDB.Client" version="1.0.972" targetFramework="net40" />
  <package id="SharpArch.Domain" version="2.0.4" targetFramework="net40" />
  <package id="SharpArch.RavenDB" version="2.1.0-RC-629" targetFramework="net40" />
  <package id="SharpArch.Web.Mvc.Castle" version="2.0.0" />
</packages>