<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="Castle.Windsor" version="3.0.0.4001" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.WindsorAdapter" version="1.0" />
  <package id="FluentNHibernate" version="1.3.0.717" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="log4net" version="1.2.10" allowedVersions="[1.2.10]" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="MvcContrib.Mvc3.FluentHtml-ci" version="3.0.96.0" />
  <package id="MvcContrib.Mvc3-ci" version="3.0.96.0" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="NHibernate" version="3.2.0.4000" />
  <package id="SharpArch.Domain" version="2.0.0" />
  <package id="SharpArch.NHibernate" version="2.0.0" />
  <package id="SharpArch.Web.Mvc.Castle" version="2.0.0" />
</packages>